:root{
    --primary-color: #146eb4;
    --secondary-color: #ff9900;
    --tertiary-color: #000000;
    --quaternary-color: #232f3e;
    --button-no-hover-color: #FEBD69;
    --font-color: #f2f2f2;
    --bg-color: #ffffff7a;
    --red: #ff0000;
    --white: #ffffff;
}

.popup-box {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.336); /* Fundo preto com opacidade */
    z-index: 1000; 
}

.popup-content {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 800px;
    padding: 20px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.popup-header h3 {
    margin: 0;
    font-size: 1.5em;
    color: #333;
}

.popup-header #close {
    font-size: 1.5em;
    cursor: pointer;
    color: #333;
}

.section {
    margin-bottom: 20px;
}

.section h4 {
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #555;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #666;
}

.input-group input,
.input-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
    color: #333;
}

.produtos-container {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    background: #f9f9f9;
    max-height: 300px;
    overflow-y: auto;
}

.product-grid {
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-x: auto; /* Permite rolagem horizontal */
    max-width: 100%; /* Limita a largura máxima da lista */
    padding-bottom: 10px; /* Para um pouco de espaçamento na rolagem */
}

.product-grid li {
    flex: 0 0 150px; /* Define uma largura fixa para cada item */
    min-width: 150px; /* Garante que cada item tenha pelo menos 150px de largura */
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

.product-grid li input[type="number"] {
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
    box-sizing: border-box;
}



.quantidade-container {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    background: #f9f9f9;
}

.quantity-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.btn-confirmacao {
    text-align: center;
}

.btn-primary {
    padding: 10px 20px;
    background-color: var(--secondary-color);
    color: var(--font-color);
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn-primary:hover {
    background-color: #8e1a0d;
}
