
:root{
    --primary-color: #146eb4;
    --secondary-color: #ff9900;
    --tertiary-color: #000000;
    --quaternary-color: #232f3e;
    --button-no-hover-color: #FEBD69;
    --font-color: #f2f2f2;
    --bg-color: #ffffff7a;
    --white: #ffffff;
}

section{
    position: fixed;
    top: 12vh;
    width: 100vw;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--font-color);
}
.produto-content{
    position: relative;
    top: 0;
    left: 3%;
    width: 90vw;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;    
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
}
.produto-header{
    position: absolute;
    top: 0;
    width: 100%;
    height: 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    background-color: var(--secondary-color);
    border-radius: 10px 10px 0 0;
}

.produto-header p{
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px 0 0 0;
    transition: 0.3s;
    cursor: pointer;
}

#new {
    font-size: 24px;    
    border-radius: 5px;
    height: max-content;
    width: 5%;
    cursor: pointer;
    color: white;
    background-color: var(--quaternary-color);
}

.produto-body{
    position: absolute;
    top: 7%;
    width: 100%;
    height: 93%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--quaternary-color);
    border-radius: 0 0 10px 10px;
    border-top: 2px solid var(--white);
}

/* Estilos da tabela */
.divTable {
    padding: 10px;
    width: 100%;
    height:inherit; 
    overflow:auto;
}

.divTable::-webkit-scrollbar {
    width: 100%;
    background-color: whitesmoke; 
}

.divTable::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: darkgray; 
}

table {
    width: 100%;
    border-spacing: 10px;
    word-break: break-all;
    border-collapse: collapse;
}

thead {
    background-color: var(--secondary-color);
}

tr {
    border-bottom: 1px solid rgb(238, 235, 235)!important;
}

tbody tr td {
    vertical-align: text-top;
    padding: 6px;
    max-width: 50px;
}

thead tr th {
    padding: 5px;
    text-align: start;
    margin-bottom: 50px;
}

tbody tr {
    margin-bottom: 50px;
}

thead tr th.acao {
    width: 100px!important;
    text-align: center;
}

tbody tr td.acao {
    text-align: center;
}

/* Estilos do modal */
.modal-container {
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.modal {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background-color: white;
    border-radius: 10px;
    width: 50%;
}

.modal label {
    font-size: 14px;
    width: 100%;
}

.modal input {
    width: 100%;
    outline: none;
    padding: 5px 10px; 
    width: 100%;
    margin-bottom: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
}

.modal button {
    width: 100%;
    margin: 10px auto;
    outline: none;
    border-radius: 20px; 
    padding: 5px 10px; 
    width: 100%;
    border: none;
    background-color: #235488;
    color: white;
}

.active {
    display: flex;
}

.active .modal {
    animation: modal .4s;
}

@keyframes modal {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

td button {
    border: none;
    outline: none;
    background: transparent;
}

td button i {
    font-size: 25px;
}

td button i:first-child {
    margin-right: 10px;
}
